# Build

build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled mex files

*.mexglx
*.mexa64
*.mexw32
*.mexw64
*.mexmaci
*.mexmaci64

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backups

*.txt~
*.h~
*.cpp~
*.m~

# Eclipse projects
.project
.cproject
.settings/
